## statements in python

In [1]:
x =10
x

10

In [2]:
id(x)

233493654096

In [3]:
y = 10
y

10

In [4]:
id(y)

233493654096

In [5]:
x =15
x

15

In [6]:
id(x)

233493654256

In [7]:
hex(id(x))

'0x365d4e6af0'

In [8]:
2+5

7

In [9]:
5-7

-2

In [10]:
5*7

35

In [11]:
16/4

4.0

In [12]:
13//4,13%4

(3, 1)

In [13]:
-13//4,-13%4

(-4, 3)

In [14]:
13//-4,13%-4

(-4, -3)

In [15]:
-13//-4,-13%-4

(3, -1)

In [16]:
a=3*1.1
#print(a)
b=3.3

In [17]:
a==b

False

In [18]:
5*1.1

5.5

In [19]:
import math

In [20]:
math.isclose(a,b)#is close method

True

In [21]:
False and True or True

True

In [22]:
False or True and False

False

In [23]:
False and (True or False)

False

In [24]:
not False

True

In [25]:
not True

False

## Data structures

In [26]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [27]:
type(list1)

list

In [28]:
tup1 = 10,20,30,40,50
tup1

(10, 20, 30, 40, 50)

In [29]:
type(tup1)

tuple

In [30]:
str1 = 'hello world'
str1

'hello world'

In [31]:
type(str1)

str

In [32]:
list1

[1, 2, 3, 4, 5]

In [33]:
list1[3]

4

In [34]:
tup1

(10, 20, 30, 40, 50)

In [35]:
tup1[4]

50

In [36]:
tup1[-1]

50

## Slicing

In [37]:
str1

'hello world'

In [38]:
str1[1:3]

'el'

In [39]:
str1[0:5]

'hello'

In [40]:
list1

[1, 2, 3, 4, 5]

In [41]:
list1[2:]

[3, 4, 5]

In [42]:
list1[:4]

[1, 2, 3, 4]

In [43]:
list1[:]

[1, 2, 3, 4, 5]

In [44]:
list1[1:4:2]

[2, 4]

In [45]:
list1[::-1]

[5, 4, 3, 2, 1]

In [46]:
str="Welcome"
str

'Welcome'

In [47]:
str[::-1]

'emocleW'

In [48]:
list(enumerate(str1))

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

In [52]:
fig='what is the name of the newly born child ?'
fig

'what is the name of the newly born child ?'

In [55]:
list(enumerate(fig))

[(0, 'w'),
 (1, 'h'),
 (2, 'a'),
 (3, 't'),
 (4, ' '),
 (5, 'i'),
 (6, 's'),
 (7, ' '),
 (8, 't'),
 (9, 'h'),
 (10, 'e'),
 (11, ' '),
 (12, 'n'),
 (13, 'a'),
 (14, 'm'),
 (15, 'e'),
 (16, ' '),
 (17, 'o'),
 (18, 'f'),
 (19, ' '),
 (20, 't'),
 (21, 'h'),
 (22, 'e'),
 (23, ' '),
 (24, 'n'),
 (25, 'e'),
 (26, 'w'),
 (27, 'l'),
 (28, 'y'),
 (29, ' '),
 (30, 'b'),
 (31, 'o'),
 (32, 'r'),
 (33, 'n'),
 (34, ' '),
 (35, 'c'),
 (36, 'h'),
 (37, 'i'),
 (38, 'l'),
 (39, 'd'),
 (40, ' '),
 (41, '?')]