## Iterable

In [1]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [2]:
tup1 = 10,20,30,40,50
tup1

(10, 20, 30, 40, 50)

In [3]:
str1 = 'hello world'
str1

'hello world'

In [4]:
for x in [1,2,3]:#print
    print(x)

1
2
3

In [5]:
for x in [1,2,3]:
    print(x)
    print('hi')

1
hi
2
hi
3
hi

In [6]:
for x in [1,2,3]:
    print(x)
print('hi')

1
2
3
hi

In [7]:
for x in list1:
    print(x)

1
2
3
4
5

In [8]:
for y in 'hello':
    print(y)

h
e
l
l
o

In [9]:
list2 = [1,5.5,'hi'] 
list2

[1, 5.5, 'hi']

In [10]:
tup2 = (4,7.7,'hello')
tup2

(4, 7.7, 'hello')

In [11]:
str2 = 'hello123'
str2

'hello123'

## Sequence methods

In [12]:
list1

[1, 2, 3, 4, 5]

In [13]:
3 in list1

True

In [14]:
10 in list1

False

In [15]:
10 not in list1

True

In [16]:
str1

'hello world'

In [17]:
'w' in str1

True

In [18]:
'a' not in str1

True

## Concatenate

In [19]:
list1 + list2

[1, 2, 3, 4, 5, 1, 5.5, 'hi']

In [20]:
tup1 + tup2

(10, 20, 30, 40, 50, 4, 7.7, 'hello')

In [21]:
'abc' + 'xyz'

'abcxyz'

## Repitition

In [22]:
3 * 'abc'

'abcabcabc'

In [23]:
5 * list1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Lenth,Min,Max

In [24]:
list1

[1, 2, 3, 4, 5]

In [25]:
len(list1)

5

In [26]:
min(list1)

1

In [27]:
max(list1)

5

In [28]:
list2

[1, 5.5, 'hi']

In [29]:
min(list2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
list3 = [1,5,5.5,9.9,10]
list3

[1, 5, 5.5, 9.9, 10]

In [31]:
min(list3)

1

In [32]:
max(list3)

10

In [33]:
len(list3)

5

## Index Position

In [34]:
str1

'hello world'

In [35]:
str1.index('w')

6

In [36]:
str1.index('l',5)

9

In [37]:
str1.index('o',5)

7

## Addition of elements

In [38]:
list1

[1, 2, 3, 4, 5]

In [39]:
list1.append(3)
list1

[1, 2, 3, 4, 5, 3]

In [40]:
list1.append([20,30])
list1

[1, 2, 3, 4, 5, 3, [20, 30]]

In [41]:
tup1

(10, 20, 30, 40, 50)

In [42]:
tup1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
list1

[1, 2, 3, 4, 5, 3, [20, 30]]

In [44]:
list1.insert(3,55)
list1

[1, 2, 3, 55, 4, 5, 3, [20, 30]]

In [45]:
list1[4]= 99
list1

[1, 2, 3, 55, 99, 5, 3, [20, 30]]

In [46]:
list1[3]=5
list1

[1, 2, 3, 5, 99, 5, 3, [20, 30]]

In [47]:
list1[1:4] = [55,66,77]
list1

[1, 55, 66, 77, 99, 5, 3, [20, 30]]

## Remove elements

In [48]:
lst = [10,20,30,40,50,60,70,80,90,100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [49]:
del lst[1:4]
lst

[10, 50, 60, 70, 80, 90, 100]

In [50]:
x

5

In [51]:
x = lst.pop(2)
x

60

In [52]:
lst

[10, 50, 70, 80, 90, 100]

In [53]:
x = lst.pop()
x

100

In [54]:
x=lst.remove(70)
x

In [55]:
lst

[10, 50, 80, 90]

In [56]:
lst.clear()
lst

[]

In [57]:
x=tup1.pop()
x

AttributeError: 'tuple' object has no attribute 'pop'

In [58]:
tup1.clear()
tup1

AttributeError: 'tuple' object has no attribute 'clear'

## Reverse

In [59]:
lst = [10,20,30,40,500,50,60,99,70,80,90,100]
lst

[10, 20, 30, 40, 500, 50, 60, 99, 70, 80, 90, 100]

In [60]:
lst.reverse()

In [61]:
lst

[100, 90, 80, 70, 99, 60, 50, 500, 40, 30, 20, 10]

In [62]:
lst = [10,20,30,77,11,40,50,60,70,99,80,90,100]

In [63]:
lst[::-1] # This is applicable for all sequences,This will not change the original list

[100, 90, 80, 99, 70, 60, 50, 40, 11, 77, 30, 20, 10]

In [64]:
lst

[10, 20, 30, 77, 11, 40, 50, 60, 70, 99, 80, 90, 100]

## Sort

In [65]:
lst

[10, 20, 30, 77, 11, 40, 50, 60, 70, 99, 80, 90, 100]

In [66]:
lst.sort()

In [67]:
lst

[10, 11, 20, 30, 40, 50, 60, 70, 77, 80, 90, 99, 100]

In [68]:
lst.sort(reverse = True)
lst

[100, 99, 90, 80, 77, 70, 60, 50, 40, 30, 20, 11, 10]

In [69]:
list3 = ['c','c++','python','java','apple123']
list3

['c', 'c++', 'python', 'java', 'apple123']

In [70]:
list3.sort()
list3

['apple123', 'c', 'c++', 'java', 'python']

In [71]:
def myfunc(x):
    return len(x)

In [72]:
list3.sort(key=myfunc)
list3

['c', 'c++', 'java', 'python', 'apple123']

## Tuple

In [73]:
tup = ([1,2,3,4],[5,6,7,8])

In [74]:
tup[0]

[1, 2, 3, 4]

In [75]:
tup[0].append(44)

In [76]:
tup

([1, 2, 3, 4, 44], [5, 6, 7, 8])

## String

In [77]:
my_str = "python"
my_str

'python'

In [78]:
my_str.capitalize()

'Python'

In [79]:
my_str1 = "hello world"
my_str1.capitalize()

'Hello world'

In [80]:
my_str1.title()

'Hello World'

In [81]:
my_str1.lower()

'hello world'

In [82]:
my_str1.upper()

'HELLO WORLD'

In [83]:
'PYTHON'.lower()

'python'

In [84]:
'PYTHONPYTHONPYTHON'.lower()

'pythonpythonpython'

In [85]:
'Python'.swapcase()#upp intoi low and low into upp

'pYTHON'

In [86]:
'python'.endswith('on'), 'python'.endswith('ab')

(True, False)

In [87]:
'python'.startswith('py'), 'python'.startswith('cd')

(True, False)

In [88]:
my_str.startswith('py')

True

In [89]:
my_str = 'pyttthon'

In [90]:
my_str.find('t')

2

In [91]:
my_str.find('a')#find(not avail thn-1) and index

-1

In [92]:
str1 = 'python3'
str1

'python3'

In [93]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

(False, True, False)

In [94]:
str2 = '123'
str2.isalpha(),str2.isalnum(),str2.isnumeric()# satysfying this alnum

(False, True, True)

In [95]:
' '.isspace(), ''.isspace()

(True, False)

In [96]:
'  python  '.strip()

'python'

In [97]:
'   python    '.lstrip()

'python    '

In [98]:
'   python    '.rstrip()

'   python'

In [99]:
'1,2,3'.split(',')

['1', '2', '3']

In [100]:
'ab;cd;ef'.split(';')

['ab', 'cd', 'ef']

In [101]:
# count() method returns the number of occurrences of the substring in the given string.
x = "Welcome to python basics"
x

'Welcome to python basics'

In [102]:
count1 = x.count("o")
count1

3

In [103]:
# print count
print("The count is:", count1)

The count is: 3

In [104]:
# define string
string = "Python is awesome, isn't it"
string

"Python is awesome, isn't it"

In [105]:
string[6]

' '

In [106]:
string[25]

'i'

In [107]:
substring = " "

In [108]:
# count after first 'i' and before the last 'i'
count1 = string.count(substring, 4, 25)
count1

4

In [109]:
# Replace 
x='It is very nice,it is excellent'
x

'It is very nice,it is excellent'

In [110]:
y=x.replace("is","was")
y

'It was very nice,it was excellent'

In [111]:
y=x.replace('is','was',1)
y

'It was very nice,it is excellent'

In [112]:
list(enumerate(y))

[(0, 'I'),
 (1, 't'),
 (2, ' '),
 (3, 'w'),
 (4, 'a'),
 (5, 's'),
 (6, ' '),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, ' '),
 (12, 'n'),
 (13, 'i'),
 (14, 'c'),
 (15, 'e'),
 (16, ','),
 (17, 'i'),
 (18, 't'),
 (19, ' '),
 (20, 'i'),
 (21, 's'),
 (22, ' '),
 (23, 'e'),
 (24, 'x'),
 (25, 'c'),
 (26, 'e'),
 (27, 'l'),
 (28, 'l'),
 (29, 'e'),
 (30, 'n'),
 (31, 't')]

## Variable unpacking

In [113]:
x,y,z = [1,2,3]
x,y,z

(1, 2, 3)

In [114]:
a,b,c = 5,6,7
a,b,c

(5, 6, 7)

In [115]:
x,y,z = 'abc'
x,y,z

('a', 'b', 'c')

## Dictionaries

In [116]:
dict1 = {'Name':'shafi','Age':35}
dict1

{'Name': 'shafi', 'Age': 35}

In [117]:
dict2 = {'school':'ags','phno':35}
dict2

{'school': 'ags', 'phno': 35}

In [118]:
dict1.update(dict2)
dict1

{'Name': 'shafi', 'Age': 35, 'school': 'ags', 'phno': 35}

In [119]:
type(dict1)

dict

In [120]:
# Accessing values in a dictionary
dict1['Name']

'shafi'

In [121]:
dict1['Age']

35

In [122]:
## Updating dictionary
dict1['Name']='adam'
dict1

{'Name': 'adam', 'Age': 35, 'school': 'ags', 'phno': 35}

In [123]:
dict1['location']= 'Bengalore' # adding one more key
dict1

{'Name': 'adam',
 'Age': 35,
 'school': 'ags',
 'phno': 35,
 'location': 'Bengalore'}

In [124]:
## Delete dictionary elements
del(dict1['Name'])

In [125]:
dict1

{'Age': 35, 'school': 'ags', 'phno': 35, 'location': 'Bengalore'}

In [126]:
dict1.clear()

In [127]:
dict1

{}

In [128]:
del(dict1) #it will delete whole variable and value stored in it

In [129]:
dict1

NameError: name 'dict1' is not defined

In [130]:
ab={'Name':'shaf','name1':'gow','Age':35,'Age1':33}
ab

{'Name': 'shaf', 'name1': 'gow', 'Age': 35, 'Age1': 33}

In [131]:
del(ab)
ab

NameError: name 'ab' is not defined

## Sets

In [132]:
## Sets have unique values
## Sets doesnot have positional ordering
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [133]:
s1[0]    # We can't access the elements with index

TypeError: 'set' object is not subscriptable

In [134]:
s2 = {11,2,55,66,8}
s2

{2, 8, 11, 55, 66}

In [135]:
list1=[22,11,33,12,25]
list1

[22, 11, 33, 12, 25]

In [136]:
for i in s2:
    print(i)

2
66
55
8
11

In [137]:
s1 = {}
type(s1)

dict

In [138]:
s1 = set()
type(s1)

set

In [139]:
len(s1)

0

In [140]:
s1 = {1,'a',(1,2),9.9} # it is taking only immutable data types
s1

{(1, 2), 1, 9.9, 'a'}

In [141]:
s3 = {1,[1,2,3],5.5,(1,3)} # it is not taking mutable data type list
s3

TypeError: unhashable type: 'list'

In [142]:
s1 = set([10,33,4,5])
s1

{4, 5, 10, 33}

In [143]:
s2 = set((11,2,35,4))
s2

{2, 4, 11, 35}

In [144]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [145]:
s4 = set('hiiiiiiiiiiii')
s4

{'h', 'i'}

## Range

In [146]:
for i in range(1,5):
    print(i)

1
2
3
4

In [147]:
s5 = set(range(1,10))
s5

{1, 2, 3, 4, 5, 6, 7, 8, 9}